	
h1 {
	background-image: url('C:\Users\jacob\OneDrive\Desktop\alchemistLament') no-repeat top left;;  
 	color: black;
	border: 2px solid white;
  	margin: 50px;
  	text-align: center;
}

p {
  	font-family: verdana;
  	font-size: 20px;
}

		
html {
  	margin: 35px;
	padding: 0;
	height: 95%;
}
		
body { 
	font: 100% arial, sans-serif;
	font-size: 1.5em;
	background-color: #555753; 
	height:95%;
}

iframe {
	float: center;
	border: 2em solid #000000 ;
}

img {
	width = "50%";
	height = "auto";
  	border 2em ;
	border: 5px solid #000000;
}

